body, html{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Delius;
  height: 3000px;
  background-color: lightblue;
}
.page-content{
  margin: none;
  height: 600px;
  width: 100%;
  display: flex;  
  z-index: 2;     
}

.left-section, .right-section{
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section{
  flex: 2;
}

.right-section{
  flex: 3;
}

.profile-picture-container, .profile-description-container{
  background-color: rgb(255, 229, 171);
}

.profile-picture-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-left: 150px;
  box-shadow: 0px 0px 15px black; 
  border-radius: 150px;
  cursor: pointer;
  transition: 0.2s;
}

.profile-description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  margin-right: 150px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px black;
  cursor: pointer;
  transition: 0.2s;
}

.profile-description-container:hover,.profile-picture-container:hover{
  box-shadow: 0px 0px 30px black;
}

.profile-description-container:hover{
  width: 510px;
  height: 410px;
}

.profile-picture-container:hover{
  width: 310px;
  height: 310px;
}

.overlap{
  z-index: 1;
}

.highest-priority{
  z-index: 100;
}

