.small-circle{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.big-circle{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.huge-circle{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}

.dark-blue{
  background-color: rgb(79, 189, 226);
}

.light-blue{
  background-color: rgb(222, 235, 240);
}

.background-container{
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.decoration{
  display: flex;
  justify-content: center;
  align-items: center;
}